<div class="hidden-modal-aw d-none" id="modal">

        <h1>Create a New Ticket</h1>
        <button type="button" class="close x-aw" data-bs-dismiss="modal" aria-label="Close"><p>X</p></button>
    
    <div class="modal-body modal-body-aw">
        <form id="create">
            <div class="mb-3">
                <label class="form-label">Subject</label>
                <input class="form-control" id="subject-input">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input class="form-control" id="description-input">
            </div>
            <div class="mb-3">
                <label class="form-label">Urgency</label>
                    <div class="input-group">
                        <select class="form-select select-aw" id="urgency-input" aria-label="Default select example">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
            </div>
            <button type="submit" class="btn btn-primary submit-aw font-weight-bold">Submit Request</button>
        </form>
    </div>
</div>

{{!-- subject-input --}}
{{!-- description-input --}}
{{!-- urgency-input --}}