<div class="modal-content hidden-modal-aw" id="modal">
    <div class="modal-header">
        <h1 class="modal-title fs-5 modal-title-aw">Create a New TIcket</h1>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="create">
            <div class="mb-3">
                <label class="form-label">Subject</label>
                <input class="form-control" id="subject-input">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input class="form-control" id="description-input">
            </div>
            <div class="mb-3">
                <label class="form-label">Urgency</label>
                    <div class="input-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Urgency Level</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit Request</button>
        </form>
    </div>
</div>

{{!-- subject-input --}}
{{!-- description-input --}}
{{!-- urgency-input --}}