

<div class="chat mt-3 mb-3 hidden-modal-aw" id = "modal" style="border-radius:.5em; background-color:darkgrey">   
    <div class="chat-history">
        <ul class="chat-ul" id="message-list">
            {{!-- This is the chat bubble for the technician --}}
            {{#each ticket.logs as |log|}} 
            {{{renderNewMessage log user_id}}}
            {{/each}}
        </ul>

        <form id="#chat" class="d-flex bg-light justify-center mx-auto mt-3">
            <div class="p-2 w-100  text-wrap">
                <textarea type="text" placeholder="Type message here" class="row h6 ml-4 col-11 h-6 mt-2"></textarea>
                    <input type="checkbox" class="h6 ml-4" id="hideMessage">
                    <label for="hideMessage" class="">Hide Message?</label>
                    <br>
            </div>
                    <button class="mt-3"><i class="fa-regular fa-solid fa-paper-plane fa-4x bg-primary text-white px-3 pb-4 pt-4"></i></button>
            </div>
        </form>
    </div>
</div>


{{!-- I need these Query Selectors to be added [Evan Towlerton] --}}
{{!-- The chat log form needs the id #chat-log-form --}}
{{!-- The message input field needs the id #message-input --}}
{{!-- The checkbox for hidden needs the id #is-hidden-input --}}
{{!-- The actual chat log needs the id #message-list --}}
{{!-- Delete these comments when finished --}}

