<head>
  <meta charset="UTF-8">
  <title>OffnOn</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/76d4e5f4ee.js" crossorigin="anonymous"></script>
</head>

<body  class="main-layout">
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>

  </body>

</html>