<h1 id="aboutTitle">About the Devs</h1>


<div class="container">

    <div class="row">
        <div class="col">
            <a class="profileName" href="https://github.com/adamhovda">
            <div class="profilePic">
            <img src="https://github.com/adamhovda.png" width="100" height="100">
            <p>Adam Hovda</p>
            </div>
            </a>
        </div>
        <div class="col">
            <a class="profileName" href="https://github.com/anthonyFrederick7">
            <div class="profilePic">
            <img src="https://github.com/anthonyFrederick7.png" width="100" height="100">
            <p>Anthony Frederick</p>
            </div>
            </a>
        </div>
        <div class="col">
            <a class="profileName" href="https://github.com/awalker2411">
            <div class="profilePic">
            <img src="https://github.com/awalker2411.png" width="100" height="100">
            <p>Anthony Walker</p>
            </div>
            </a>
        </div>
        <div class="col">
            <a class="profileName" href="https://github.com/christoph551">
            <div class="profilePic">
            <img src="https://github.com/christoph551.png" width="100" height="100">
            <p>Christopher Simmonds</p>
            </div>
            </a>
        </div>
    </div>

        <div class="row">
        <div class="col">
            <a class="profileName" href="https://github.com/etowww">
            <div class="profilePic">
            <img src="https://github.com/etowww.png" width="100" height="100">
            <p>Evan Towlerton</p>
            </div>
            </a>
        </div>
        <div class="col">
            <a class="profileName" href="https://github.com/igurgoze">
            <div class="profilePic">
            <img src="https://github.com/igurgoze.png" width="100" height="100">
            <p>Ian Gurgoze</p>
            </div>
            </a>
        </div>
        <div class="col">
            <a class="profileName" href="https://github.com/jminor90">
            <div class="profilePic">
            <img src="https://github.com/jminor90.png" width="100" height="100">
            <p>Joshua Minor</p>
            </div>
            </a>
        </div>
        <div class="col">
            <a class="profileName" href="https://github.com/lsegura06">
            <div class="profilePic">
            <img src="https://github.com/lsegura06.png" width="100" height="100">
            <p>Leo Segura</p>
            </div>
            </a>
        </div>
    </div>

        <div class="row">
        {{!-- <div class="col">
            <a class="profileName" href="https://github.com/adamhovda">
            <div class="profilePic">
            <img src="https://github.com/adamhovda.png" width="100" height="100">
            <p>Adam Hovda</p>
            </div>
            </a>
        </div> --}}
        <div class="col">
            <a class="profileName" href="https://github.com/codeDevLogan">
            <div class="profilePic">
            <img src="https://github.com/codeDevLogan.png" width="100" height="100">
            <p>Logan Peterson</p>
            </div>
            </a>
        </div>
        <div class="col">
            <a class="profileName" href="https://github.com/mijensine23">
            <div class="profilePic">
            <img src="https://github.com/mijensine23.png" width="100" height="100">
            <p>Michaela Jensine</p>
            </div>
            </a>
        </div>
        {{!-- <div class="col">
            <a class="profileName" href="https://github.com/anthonyFrederick7">
            <div class="profilePic">
            <img src="https://github.com/anthonyFrederick7.png" width="100" height="100">
            <p>Anthony Frederick</p>
            </div>
            </a>
        </div> --}}
    </div>









</div>
