<form class="login-form mx-auto bg-primary w-50">
    <div class="mx-auto form-group row pt-4">
        <label for="staticEmail" class="fs-4 col-sm-2 col-form-label text-white fw-bold">email:</label>
        <div class="mx-auto col-sm-10 col-md-6">
            <input type="text" id="email-login" class="form-control">
        </div>
    </div>
    <div class="form-group row mx-auto">
        <label for="inputPassword" class="fs-4 col-sm-2 col-form-label text-white fw-bold">Password:</label>
        <div class="mx-auto col-sm-10 col-md-6  pb-2">
            <input type="password" class="form-control" id="password-login">
        </div>
    </div>
    <div class="form-group row position-relative">
        <button type="submit" class="btn btn-light mx-auto mb-4 fw-bold" id="login-button">Login</button>
    </div>
</form>

<script src="/js/login.js"></script>