      <h1>
        This is the ticket handlebar!
      </h1>
{{#each tickets as |ticket|}}
{{> ticket-header}}
{{/each}}

<div class="row">

    <div class="col-sm-12 col-md-6">
        <h1>Hi</h1>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="container py-5">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <ul class="timeline">

                            <li class="timeline-item rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <h2 class="timeline-item h5 mb-0">Ticket Created</h2>
                            </li>
                            <i class="fa fa-clock-o mr-1 ml-3"></i><span data-id="{{ticket_id}}" class="small text-gray">Feb 10 2023</span>

                            <li class="timeline-item rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <h2 class="timeline-item h5 mb-0">Comment Added</h2>
                            </li>
                            <i class="fa fa-clock-o mr-1 ml-3"></i><span data-id="{{ticket_id}}" class="small text-gray">Feb 07 2023</span>

                        </ul>
                    </div>
                </div>
            </div>
    </div>

</div>