.hidden-modal-aw {
    opacity: 0;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    background: #eee;
    position: fixed;
    left: calc(50% - 204px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    background-color: #eee;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    z-index: -1;
    padding: 50vh 3.5em;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
}

.show-modal-aw {
    opacity: 1;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    background: #eee;
    position: fixed;
    left: calc(50% - 204px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    background-color: #eee;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    z-index: 402;
    padding: 50vh 3.5em;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
}

.show-modal-aw h1 {
    margin-bottom: 2em;
}

.x-aw{
height: 25px;
width: 25px;
position: absolute;
right: 25px;
top: 25px;
}

.select-aw {
    width: 100%;
}

.submit-aw {
    margin-top: 4em;
    width: 100%;
    padding: 1em;
}
